<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
<bean id="demo" class="com.sneha.diot.MathCheat"></bean>  
<bean id="stu" class="com.sneha.diot.Student">
<property name="id" value="1009"></property>
<property name="m" ref="demo">
</property>
</bean>
<bean id="nothr" class="com.sneha.diot.AnotherStudent">
<property name="cheat" ref="demo">
</property>
</bean>
</beans>